@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Vesuvius Variables mapped for Tailwind reference if needed */
  --bg-base: #FFFDE9;
  --bg-panel: #FFF4AC;
  --primary: #FFD70D;
  --text-main: #4C1C00;
  --text-sec: #833904;
  --border: #C65C00;
}

body {
  background-color: var(--bg-base);
  color: var(--text-main);
  font-family: 'Inter', sans-serif; /* Clean, modern font */
  overflow: hidden; /* Lock scroll to panels only */
}

/* Custom "Vesuvius" Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #EF8700;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #C65C00;
}